body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: #000;
}

.media-container {
  position: absolute;
  top: 5%;
  left: 2vw;
  width: 33vw;
  height: 33vw;
  clip-path: circle(27% at 50% 50%);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.media-container img,
.media-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(27% at 50% 50%);
  transition: opacity 0.5s ease;
}

.media-container img {
  z-index: 1;
}

.media-container video {
  opacity: 0;
  z-index: 2;
}

.media-container.hover-active video {
  opacity: 1;
}

.media-container.hover-active img {
  opacity: 0;
}

.box {
  position: absolute;
  top: 5%;
  left: calc(30vw + 5%);
  width: 30vw;
  padding: 1vw;
  color: #fff;
  font-family: "Georgia", serif;
  line-height: 1.6;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 90vw;
}

.code-container {
  position: absolute;
  top: 45%;
  left: 51vw;
  width: 31vw;
  height: 15vw;
  padding: 1px;
  color: #fff;
  font-family: "Georgia", serif;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}

#code-block {
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px;
  resize: none;
  font-size: 1em;
}

button {
  padding: 5px 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #fef9f9;
  background-color: #030303;
}

@media (max-width: 768px) {
  .media-container {
    top: 1%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    clip-path: circle(27% at 50% 50%);
    transform: translateX(-50%);
  }

  .box {
    top: 20%;
    left: 50%;
    width: 80vw;
    padding: 4vw;
    transform: translateX(-50%);
    max-width: none;
  }

  .code-container {
    top: calc(50% + 50vw);
    left: 50%;
    width: 80vw;
    height: 50vw;
    padding: 4vw;
    transform: translate(-50%, 0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 1px;
  background-color: #abbaba;
  color: #000;
  width: auto;
  margin: 0;
}

.link-container {
  display: inline-block;
  overflow: hidden;
  max-width: 40%;
  margin-top: 25vw;
  margin-left: 1vw;
}

.link-container img {
  display: block;
  max-width: 30%;
  transition: transform 0.3s ease;
  clip-path: circle(39% at 50% 50%);
}

.link-container a {
  width: 30%;
  display: inline-block;
  margin-top: 5vw;
  margin-left: 1vw;
}

.link-container img:hover {
  transform: scale(1.25);
}

@media (max-width: 767px) {
  body,
  html {
    height: auto;
    display: block;
  }

  .link-container {
    position: fixed;
    top: 0;
    left: 0;
  }

  .link-container img {
    width: 100%;
  }
}

.nav-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  color: #fff;
  z-index: 1000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.side-nav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(119, 140, 233);
  display: block;
  transition: 0.1s;
  text-align: center;
}

.side-nav a:hover {
  background-color: #575757;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  color: white;
}

@media screen and (max-width: 767px) {
  .side-nav.open {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .side-nav.open {
    width: 30%;
  }
}
